<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:loadBundle basename="samplejsf.properties.messages" var="msg" />

<h:head>
	<title>SampleJsf</title>
</h:head>
<h:body bgcolor="white">
	<h3>Cart Info</h3>
	<h:form prependId="false">
		<table border="1" cellpadding="2" cellspacing="2">
			<tr>
				<th>Option</th>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Sub Total</th>
			</tr>
			<ui:repeat var="item" value="#{cartManagedBean.items}">
				<tr>
					<td align="center"><h:commandLink value="X"
							action="#{cartManagedBean.delete(item.product)}"></h:commandLink>
					</td>
					<td>#{item.product.id}</td>
					<td>#{item.product.name}</td>
					<td>#{item.product.price}</td>
					<td>#{item.quantity}</td>
					<td>#{item.product.price * item.quantity}</td>
				</tr>
			</ui:repeat>
			<tr>
				<td colspan="5" align="right">Total</td>
				<td>#{cartManagedBean.total()}</td>
			</tr>
		</table>
		<br></br>
		<h:commandLink value="Continue Shopping"
			action="#{productManagedBean.index()}"></h:commandLink>
	</h:form>
</h:body>
</html>